@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

.spfBody ul { margin: 0; padding: 0; }
.spfBody ul li { list-style-type: none; }
.spfBody { display: block !important;
    font-size: 13px;
    letter-spacing: 0.5px;
	background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #ffffff 29%);
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#ffffff 29%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#ffffff 29%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 );}
    @font-face {
        font-family: 'Le Jeune Poster';
        src: url('LeJeunePoster-StencilRegular.woff2') format('woff2'),
            url('LeJeunePoster-StencilRegular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        
    }
    
    .spfBody a { text-decoration: none; }